<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CS520_Assi5_ref/src/buddySystem/BuddySystem.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="buddySystem.BuddySystem"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CS520_Assi5_ref"/>
</launchConfiguration>
